#location .container h2{ 
    color: darkcyan;
    margin-top: 30px;
    margin-bottom: 30px; 
}
#location p{
    font-size: 16px;
}

.container .adress{
    text-align: justify;
}
#location strong{
    text-align: justify;
    margin-bottom: 10px;
}
#location .map-img img{
    background-size:100% auto;
}
#location .adress p img{
    width: 25px;
}
#location .map-img a{
    text-align: center;
    width: 200px;
    display: block;
    transform: translateX(-50%) translateY(110%);
    font-weight: 600;
    background-color: rgba(1,1,1,0.2);
    top: 37%;
    left: 49%;
    position: absolute;
    border: 3px solid white;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.icon-clock, .icon-ok, .icon-location{
    position: relative;
    bottom: 5px;
    float: left;
    font-size: 20px;
    color: darkcyan;
    margin-right: 10px;
}
.icon-location{
    height:154px;
}

#location .container .location-left{
    position: relative
    box-sizing: content-box;
    border-right: 1px solid #e6e6e6;
}

#location .adress, #location .clocks, #location .med-security {
    margin: 5px
}
#location .adress{
    padding-right: 20px;
    border-right: solid 1px #e6e6e6;
    max-width: 40em;
}
#location .clocks, #location .med-security{
    text-align: justify;
    display: flex;
    min-width: 18em;
    max-width: 40em;
}
#location{
    background-color: #f2f2f2;
}
#location h2{
    color: darkcyan;
}
#location img{
    border: solid 1px #d0d0d0;
    margin-left: -40px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.adress{
    max-width: 330px;
    float: left;
}
.btn-booking{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-booking .icon-calendar{
    float: left;
    font-size: 20px;
    position:relative;
    bottom: 4px;

}
.adress a{
    position: inherit !important;
    transform: none !important;
    margin-top: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    float:left;
    border: 1px solid #e6e6e6;
    padding: 8px;
    text-align: center;
    max-width: 10em;
    background-color: purple !important;
    color: white;
     border-bottom: 2px solid black;
    border-right: 2px solid black;
    
}
.adress a:hover{
    border-bottom: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: none;
    background-color: #5c015c;


}
#location img{
    margin-top: 10px;
    margin-bottom: 10px;
}
a .icon-calendar{
    position: relative;
    bottom: 2px;
    font-size: 18px;
    float:left;
}
.container .adress img{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}




@media only screen and (max-width: 1024px) {
    #location .map-img a{
    transform: translateX(-45%) translateY(-5%);
}
}

@media only screen and (max-width: 768px) {

     #location .map-img a{
    transform: translateX(-45%) translateY(-138%);
}
    #location .adress{
        border: none;
    }

    #location .clocks, #location .med-security{
    display: flex;
    min-width: 15em;
    max-width: 40em;
    }
    #location .container h2{
    color: darkcyan;
    margin-top: 20px;
    margin-bottom: 10px;
}
    .icon-location{
    height:154px;
}
    #location .container{
        padding: 0px;
    }
}


@media screen and (max-width: 425px) {
       #location .map-img a{
       transform: translateX(-45%) translateY(-201%);}
}
@media screen and (max-width: 326){
  .container .adress a{
        margin-left: 38px;
    }
}

@media screen and (max-width: 320px) {
      .container .adress a{
        margin-left: 38px
    }
       #location .map-img a{
       transform: translateX(-45%) translateY(-210%);}
}

