#location .container h2{ 
    color: darkcyan;
    margin-top: 30px;
    margin-bottom: 30px; 
}
#location p{
    font-size: 16px;
}

.container .adress{
    text-align: justify;
}
#location strong{
    text-align: justify;
    margin-bottom: 10px;
}
#location .adress p img{
    width: 25px;
    margin-bottom: 4px;

}
.icon-clock, .icon-ok, .icon-location{
    position: relative;
    bottom: 5px;
    float: left;
    font-size: 20px;
    color: darkcyan;
    margin-right: 10px;
}
#location .container .location-left{
    position: relative
    box-sizing: content-box;
    border-right: 1px solid #e6e6e6;
}

#location .adress, #location .clocks, #location .med-security {
    margin: 5px
}
#location .adress{
    padding-right: 20px;
    border-right: solid 1px #e6e6e6;
    max-width: 40em;
}
#location .clocks, #location .med-security{
    text-align: justify;
    display: flex;
    min-width: 18em;
    max-width: 40em;
}
#location{
    background-color: #f2f2f2;
}
#location h2{
    color: darkcyan;
}
#location img{
    border: solid 1px #d0d0d0;
    margin-left: -40px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#location img:hover{
   opacity: 0.5;
}
.adress{
    max-width: 330px;
    float: left;
}
.btn-booking{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-booking .icon-calendar{
    float: left;
    font-size: 20px;
    position:relative;
    bottom: 4px;

}
.adress a{
    margin-left: 40px;
    text-decoration: none;
    float:left;
    border: 1px solid #e6e6e6;
    padding: 10px;
    text-align: center;
    max-width: 10em;
    background-color: purple;
    color: white;
     border-bottom: 2px solid black;
    border-right: 2px solid black;
    
}
.adress a:hover{
    border-bottom: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: none;
    background-color: #5c015c;


}
a .icon-calendar{
    position: relative;
    bottom: 2px;
    font-size: 18px;
    margin-right: 5px;
    float:left;
}
.btn-booking a{
    color: white;
}
@media screen and (max-width: 768px) {
    #location .adress{
        border: none;
    }
    #location .clocks, #location .med-security{
    display: flex;
    min-width: 15em;
        max-width: 52em;
    }
    #location .container h2{
    color: darkcyan;
    margin-top: 10px;
    margin-bottom: 5px;
}
}

